<template>
  <a-form
    layout="vertical"
    autocomplete="off"
    @finish="onFinish"
    @finishFailed="onFinishFailed"
    :style="{
      marginTop: '-28px',
      borderBottom: '1px solid #EDEDED',
      paddingBottom: '24px',
      marginBottom: '40px',
    }"
  >
    <!-- /////////////////////////////////////////////// -->
    <template v-if="currentStep === 0">
      <page1
        :formData="formData"
        :isSubmitted="submitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
      ></page1>
    </template>
    <!-- /////////////////////////////////////////// -->
    <!-- Page 2 -->
    <template v-if="currentStep === 1">
      <page2
        :formData="formData"
        :isSubmitted="submitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
      ></page2>
    </template>
    <!-- End Page 2 -->
    <!-- /////////////////////////////////////////// -->
    <!-- Page 3 -->
    <template v-if="currentStep === 2">
      <page3
        :formData="formData"
        :isSubmitted="submitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
      ></page3>
    </template>
    <!-- End Page 3 -->
    <!-- /////////////////////////////////////////// -->
  </a-form>
</template>
<script>
import FormGroup from "../Block/FormGroup.vue";
import FormInput from "../Block/FormInput.vue";
import page1 from "./Presenter/Presenterpage1.vue";
import page2 from "./Presenter/Presenterpage2.vue";
import page3 from "./Presenter/Presenterpage3.vue";

export default {
  components: {
    FormGroup,
    FormInput,
    page1,
    page2,
    page3,
  },
  computed: {},
  methods: {
    onFinish(values) {},
    onFinishFailed() {},
  },
  props: {
    currentStep: {
      type: Number,
    },
    formData: {
      default: () => ({}),
      type: Object,
    },
    submitted: {
      type: Boolean,
    },
    addInvalidField: {
      default: () => {},
      type: Function,
    },
    removeInvalidField: {
      default: () => {},
      type: Function,
    },
  },
};
</script>
<style>
.mention.presenter-custom {
  right: -14px;
  width: 250px;
  max-width: none;
}
.textarea-wrap.custom-text-area {
  margin: 11px -15px;
}
.counter.custom-counter {
  max-width: 555px;
}
.wrapper-custom {
  display: flex;
  align-items: center;
}
/* .wrapper-custom .form-group + .wrapper-custom .form-group {
  margin-left: 20px !important;
} */
@media only screen and (max-width: 1280px) {
  .responsive {
    max-width: 80% !important;
  }
  .counter.custom-counter {
    max-width: 80%;
  }
  .wrapper-custom > .form-group + .wrapper-custom > .form-group {
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 1140px) {
  .responsive {
    max-width: 100% !important;
  }
  .counter.custom-counter {
    max-width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .textarea-wrap.custom-text-area {
    margin: 11px -8px;
  }
  .counter.custom-counter {
    padding-right: 0;
    max-width: none;
  }
  .mention.presenter-custom {
    width: 98.5%;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper-custom {
    flex-direction: column;
    align-items: initial;
  }
  .mention.presenter-custom {
    width: 98%;
  }
}
@media only screen and (max-width: 412px) {
  .mention.presenter-custom {
    width: 97%;
  }
}
@media only screen and (max-width: 375px) {
  .mention.presenter-custom {
    width: 96%;
  }
}
</style>
