<template>
  <a-form
    :model="formData"
    v-if="formMode === 'tan-sinh-vien' || formMode === 'tan-sinh-vien-dev'"
    layout="vertical"
    autocomplete="off"
    @finish="onFinish"
    @finishFailed="onFinishFailed"
    :style="{
      marginTop: '-28px',
      borderBottom: '1px solid #EDEDED',
      paddingBottom: '24px',
      marginBottom: '40px',
    }"
    ref="formComponent"
  >
    <!-- /////////////////////////////////////////////// -->
    <!-- {{ formData }} -->
    <template v-if="currentStep === 0">
      <page1
        :formData="formData"
        :isSubmitted="submitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
      ></page1>
    </template>
    <!-- /////////////////////////////////////////// -->
    <!-- Page 2 -->
    <template v-if="currentStep === 1">
      <page2
        :formData="formData"
        :isSubmitted="submitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
      ></page2>
    </template>
    <!-- End Page 2 -->
    <!-- /////////////////////////////////////////// -->
    <!-- Page 3 -->
    <template v-if="currentStep === 2">
      <page3
        :formData="formData"
        :isSubmitted="submitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
      >
      </page3>
    </template>
    <!-- End Page 3 -->
    <!-- /////////////////////////////////////////// -->
    <!-- Page 4 -->
    <template v-if="currentStep === 3">
      <page4
        :formData="formData"
        :isSubmitted="submitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
      ></page4>
    </template>
    <!-- End Page 4 -->
  </a-form>
</template>
<script>
import FormGroup from "../Block/FormGroup.vue";
import FormInput from "../Block/FormInput.vue";
import page1 from "./Student/Studentpage1.vue";
import page2 from "./Student/Studentpage2.vue";
import page3 from "./Student/Studentpage3.vue";
import page4 from "./Student/Studentpage4.vue";
export default {
  data() {
    return {};
  },

  components: {
    FormGroup,
    FormInput,
    page1,
    page2,
    page3,
    page4,
  },
  methods: {
    onFinish(values) {},
    onFinishFailed() {},
  },
  props: {
    currentStep: {
      type: Number,
    },
    formMode: {
      type: String,
    },
    listProvinces: {
      default: () => [],
      type: Array,
    },
    listDistrict: {
      default: () => [],
      type: Array,
    },
    listWard: {
      default: () => [],
      type: Array,
    },
    formData: {
      default: () => ({}),
      type: Object,
    },
    submitted: {
      type: Boolean,
    },
    addInvalidField: {
      default: () => {},
      type: Function,
    },
    removeInvalidField: {
      default: () => {},
      type: Function,
    },
  },
};
</script>
<style>
.student-wrapper {
  align-items: flex-start;
}
@media only screen and (max-width: 400px) {
  .student-wrapper {
    flex-direction: column;
  }
}
</style>
