<template>
  <a-button
    :class="classObject"
    :type="buttonType"
    @mouseenter="toggleDescription()"
    @mouseleave="toggleDescription()"
    @click="eventClick"
    :loading="loading"
  >
    <slot></slot>
    <tooltip :description="description" :showDescription="showDescription" />
  </a-button>
</template>
<script>
import Tooltip from "./Tooltip.vue";
export default {
  data() {
    return {
      showDescription: false,
      classObject: {
        button: true,
        outline: this.variant !== "solid",
      },
    };
  },
  computed: {},
  methods: {
    toggleDescription() {
      if (this.description) this.showDescription = !this.showDescription;
    },
  },
  props: {
    buttonType: {
      default: "primary",
      type: String,
    },
    description: {
      type: String,
    },
    eventClick: {
      default: function () {},
      type: Function,
    },
    variant: {
      default: "solid",
      type: String,
    },
    loading: {
      default: false,
      type: Boolean,
    },
  },
  components: { Tooltip },
};
</script>
<style scoped>
.button {
  position: relative;
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: auto;
  line-height: 1.2;
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 48px;
  min-width: 180px;
  font-size: 18px;
  background: #3182ce;
  color: #fff;
  animation: 5s linear 0s infinite normal none running animation;
}
.button:hover {
  background: #2b6cb0;
  color: #fff !important;
}
.button + .button {
  margin-left: 20px;
}
.button.outline {
  background: #e1f0ff;
  color: #2b6cb0;
  border-color: transparent;
}
.button.outline:hover {
  color: #2b6cb0 !important;
}

@keyframes animation {
  0% {
    box-shadow: none;
  }
  25% {
    box-shadow: rgb(101 165 219 / 60%) 0px 0px 10px 10px;
  }
  100% {
    box-shadow: none;
  }
}
@media only screen and (max-width: 500px) {
  .button + .button {
    margin-left: 0;
  }
  .button {
    height: 40px;
    min-width: 130px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 376px) {
  .button + .button {
    margin-left: 0;
  }
  .button {
    min-width: 120px;
    font-size: 14px;
  }
}
</style>
