<template>
  <div class="card-container" :style="customStyle">
    <div class="card-title">{{ title }}</div>
    <div class="card-content">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
    },
    customStyle: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>
<style scoped>
.card-container {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}
.card-container + .card-container {
  margin-top: 20px;
}
.card-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 12px;
}
.card-content {
}
</style>
