<template>
  <Bar
    :chart-options="chartOptions"
    :chart-data="{
      labels: chartLabels,
      datasets: chartDataSets,
    }"
    :width="100"
    :height="800"
  />
</template>
<script>
import { Bar } from "vue-chartjs";
import "chart.js/auto";

let delayed;
export default {
  data() {
    return {
      chartData: {
        labels: ["1", "2", "3", "4", "5", "6", "7"],
        datasets: [{ data: [10, 20, 12, 10, 20, 12, 10] }],
      },
      chartOptions: {
        responsive: true,
        maintainAspectRatio: true,
        plugins: {
          legend: {
            display: false,
          },
        },
        animation: {
          onComplete: () => {
            delayed = true;
          },
          delay: (context) => {
            let delay = 0;
            if (
              context.type === "data" &&
              context.mode === "default" &&
              !delayed
            ) {
              delay = context.dataIndex * 300 + context.datasetIndex * 100;
            }
            return delay;
          },
        },
      },
    };
  },
  props: {
    chartId: {
      type: String,
      default: "bar-chart",
    },
    datasetIdKey: {
      type: String,
      default: "label",
    },
    width: {
      type: Number,
      default: 50,
    },
    height: {
      type: Number,
      default: 50,
    },
    cssClasses: {
      default: "",
      type: String,
    },
    styles: {
      type: Object,
      default: () => {},
    },
    plugins: {
      type: Object,
      default: () => {},
    },
    chartLabels: {
      type: Array,
      default: () => [],
    },
    chartDataSets: {
      type: Array,
      default: () => [],
    },
  },
  components: {
    Bar,
  },
};
</script>
