<template>
  <div class="contact">
    <span class="logo" @click="triggerCall">
      <svg
        width="29"
        height="28"
        viewBox="0 0 29 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="core"
      >
        <mask
          id="mask0_2_9"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="16"
          y="0"
          width="13"
          height="12"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16.8427 0.000518799H28.4846V11.634H16.8427V0.000518799Z"
            fill="white"
          />
        </mask>
        <g mask="url(#mask0_2_9)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M27.4616 11.634C26.9476 11.634 26.5059 11.2482 26.4473 10.726C25.9305 6.12321 22.3558 2.55115 17.7516 2.03988C17.1913 1.97717 16.7863 1.47272 16.8491 0.911003C16.9104 0.350653 17.4108 -0.0624508 17.9779 0.00844498C23.5378 0.626056 27.8556 4.93843 28.4787 10.4969C28.5414 11.0586 28.1378 11.5645 27.5775 11.6272C27.5393 11.6313 27.4998 11.634 27.4616 11.634Z"
            fill="#181C32"
          />
        </g>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M22.6352 11.6487C22.1553 11.6487 21.7285 11.3106 21.6331 10.8225C21.2405 8.80472 19.6848 7.2491 17.6698 6.85781C17.1149 6.7501 16.7536 6.21429 16.8613 5.6594C16.969 5.1045 17.5143 4.74184 18.0597 4.85091C20.8969 5.40172 23.0878 7.59131 23.64 10.4299C23.7477 10.9861 23.3864 11.5219 22.8329 11.6296C22.7661 11.6419 22.7006 11.6487 22.6352 11.6487Z"
          fill="#181C32"
        />
        <mask
          id="mask1_2_9"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="28"
          height="28"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 0H27.9496V27.95H0V0Z"
            fill="white"
          />
        </mask>
        <g mask="url(#mask1_2_9)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M3.21646 4.17396C3.21919 4.17396 3.15102 4.24486 3.06513 4.32939C2.73519 4.64978 2.05214 5.31648 2.04532 6.71122C2.03441 8.66221 3.31735 12.2847 9.49483 18.4608C15.6423 24.607 19.2594 25.9049 21.2158 25.9049H21.2444C22.6392 25.8967 23.3045 25.2137 23.6249 24.8851C23.7217 24.7856 23.8008 24.7106 23.8567 24.6656C25.216 23.2981 25.9113 22.2824 25.9045 21.6293C25.8963 20.964 25.0687 20.1787 23.9249 19.0893C23.5608 18.7444 23.1654 18.3668 22.7483 17.9496C21.6657 16.8711 21.1326 17.0552 19.9533 17.4697C18.3241 18.0409 16.0922 18.8235 12.6142 15.3428C9.1349 11.8648 9.91475 9.63294 10.4833 8.00234C10.895 6.82438 11.0832 6.28857 10.002 5.20604C9.57936 4.7834 9.19898 4.38256 8.84859 4.01445C7.76606 2.87739 6.98485 2.05527 6.32361 2.04573H6.3127C5.65964 2.04573 4.64529 2.74378 3.20965 4.17942C3.21374 4.17533 3.2151 4.17396 3.21646 4.17396V4.17396ZM21.2157 27.95C17.8181 27.95 13.3885 25.245 8.04951 19.9074C2.6887 14.548 -0.0203358 10.1047 0.000114924 6.70034C0.0123853 4.45077 1.19171 3.29871 1.63481 2.86652C1.65799 2.83789 1.73706 2.76017 1.76433 2.73291C3.72078 0.776454 5.06507 -0.0279403 6.34938 0.000690645C7.87228 0.0211414 8.95753 1.16229 10.3304 2.60611C10.6699 2.96195 11.0367 3.35052 11.4471 3.75953C13.4362 5.75007 12.8704 7.37385 12.4137 8.67725C11.9174 10.0993 11.488 11.3263 14.0593 13.8976C16.6306 16.469 17.8563 16.0395 19.277 15.5391C20.5817 15.0838 22.2014 14.5139 24.1947 16.5044C24.5996 16.9093 24.9813 17.272 25.3358 17.6088C26.7851 18.9885 27.9303 20.0778 27.9494 21.6048C27.9644 22.9055 27.1737 24.2334 25.2213 26.1858L24.3569 25.5995L25.089 26.3126C24.6569 26.7557 23.5075 27.9364 21.2566 27.95H21.2157Z"
            fill="#181C32"
          />
        </g>
      </svg>
    </span>
    <span class="phone">
      Hotline: <a href="tel:0918.033.133" class="link">0918.033.133</a>
    </span>
  </div>
</template>
<script>
export default {
  methods: {
    triggerCall() {
      const width = screen.width;
      // only allow click on tablet and mobile
      if (width < 760) {
        window.location.href = "tel:" + "0918.033.133";
      }
    },
  },
};
</script>
<style scoped>
.contact {
  display: flex;
  align-items: center;
  color: #181c32;
}
.logo {
  margin-right: 18px;
}
.core {
  width: 28px;
  height: 28px;
}
.phone {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.1px;
}

.phone > .link {
  font-weight: 700;
  color: #181c32;
}
@media only screen and (max-width: 760px) {
  .logo {
    margin-right: 0;
    width: 40px;
    height: 40px;
    color: rgb(0, 111, 184);
    background: rgb(225, 240, 255);
    border-radius: 8px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .logo:hover {
    background: rgb(202, 219, 248);
  }
  .core {
    width: 22px;
    height: 22px;
    filter: invert(25%) sepia(49%) saturate(7293%) hue-rotate(189deg)
      brightness(93%) contrast(104%);
  }
  .phone {
    display: none;
  }
}
</style>
