<template>
    <a-table
        :columns="columns"
        :data-source="data"
        :pagination="pagination"
        class="custom-table"
        @change="handleTableChange"
        :row-key="record => record.id"
        :loading="loading"
    >
    </a-table>
</template>
<script>
import { checkEmptyObject } from '../../utils/common'
import { generateURL } from '../../utils/mapping'
export default {
    data() {
        return {
            data: [],
            pagination: {
                defaultPageSize: 10,
                showSizeChanger: true,
                pageSizeOptions: ['10', '25', '50', '100'],
                current: 1,
                total: 0,
            },
            filters: {},
            sorter: {},
            loading: false,
        }
    },
    watch: {
        isSearch: {
            handler() {
                if (this.isSearch) {
                    this.handleTableChange(
                        this.pagination,
                        this.filters,
                        this.sorter
                    )
                    this.resetSearch()
                }
            },
            immediate: true,
        },
    },
    created() {
        this.getTableData({
            currentPage: this.pagination.current,
            limit: this.pagination.defaultPageSize,
        })
    },
    methods: {
        handleTableChange(pagination, filters, sorter) {
            this.filters = filters
            this.sorter = sorter
            const filterValue = filters.sex
            const sorterValue = {}
            if (checkEmptyObject(sorter)) {
                sorterValue.name = ''
                sorterValue.date = ''
            } else {
                Object.assign(sorterValue, {
                    [sorter.field]: sorter.order,
                })
            }

            const pager = { ...this.pagination }
            pager.current = pagination.current
            this.pagination = pager
            this.getTableData({
                currentPage: pagination.current,
                limit: pagination.pageSize || pagination.defaultPageSize,
                params: {
                    sex: Array.isArray(filterValue) ? filterValue[0] : '',
                    ...sorterValue,
                },
            })
        },
        async getTableData({ currentPage, limit, params }) {
            this.loading = true
            const url = generateURL(
                this.type === 'student'
                    ? '/api/schoolarship/getStudent?'
                    : '/api/schoolarship/getPresenter?',
                {
                    ...params,
                    ...this.searchFilter,
                    page: currentPage,
                    limit: limit,
                }
            )
            try {
                this.$axios.setToken(this.$store.state.adminInfo.token)

                const res = await this.$axios.get(url)
                const { total, data } = res.data
                this.data = data
                this.pagination.total = total
                this.loading = false
            } catch (error) {
                console.log('getTableData table.vue', error)
                this.loading = false
                message.error(
                    'Đã có lỗi xảy ra, vui lòng chờ trong giây lát và thử lại sau'
                )
            }
        },
    },
    props: {
        columns: {
            type: Array,
            default: () => [],
        },
        type: {
            type: String,
            default: '',
        },
        isSearch: {
            type: Boolean,
            default: false,
        },
        searchFilter: {
            type: Object,
            default: () => ({}),
        },
        resetSearch: {
            type: Function,
            default: () => {},
        },
    },
}
</script>

<style>
.custom-table .ant-select-selection-selected-value {
    line-height: 30px;
}
.custom-table .ant-input,
.custom-table .ant-select-selection--single {
    background: #fff;
    border-radius: 4px;
    height: auto;
    border: 1px solid #d9d9d9;
    border-top-width: 1.02px;
}
</style>
