<template>
  <Container>
    <div class="form-container">
      <div class="step-container">
        <a-steps
          v-model="currentStep"
          id="step"
          direction="vertical"
          class="custom-step"
        >
          <template v-if="formMode === 'tan-sinh-vien'">
            <a-step title="Thông tin cá nhân" />
            <a-step title="Thông tin gia đình" :disabled="disabledStep(1)" />
            <a-step
              title="Nỗ lực và định hướng tương lai"
              :disabled="disabledStep(2)"
            />
            <a-step title="Đáp đền tiếp nối" :disabled="disabledStep(3)" />
          </template>
          <template v-else>
            <a-step title="Người giới thiệu" />
            <a-step title="Người được giới thiệu" :disabled="disabledStep(1)" />
            <a-step title="Thông tin khác" :disabled="disabledStep(2)" />
          </template>
        </a-steps>
      </div>
      <div class="line"></div>

      <div class="input-container">
        <div>
          <student-form
            v-if="formMode === 'tan-sinh-vien'"
            :currentStep="currentStep"
            :formMode="formMode"
            :listProvinces="listProvinces"
            :listDistrict="listDistrict"
            :listWard="listWard"
            :formData="formData"
            :submitted="submitted"
            :removeInvalidField="removeInvalidField"
            :addInvalidField="addInvalidField"
            ref="form"
          />
          <presenter-form
            v-else
            :currentStep="currentStep"
            :formMode="formMode"
            :listProvinces="listProvinces"
            :listDistrict="listDistrict"
            :listWard="listWard"
            :formData="formData"
            :submitted="submitted"
            :removeInvalidField="removeInvalidField"
            :addInvalidField="addInvalidField"
            ref="form"
          />
          <div
            :class="{ 'submit-button': true, alignRight: currentStep === 0 }"
          >
            <Button
              variant="outline"
              v-if="currentStep > 0"
              :eventClick="prevStep"
              >Trước đó</Button
            >
            <Button
              v-if="currentStep === (formMode === 'tan-sinh-vien' ? 3 : 2)"
              :eventClick="submitForm"
              >Gửi</Button
            >
            <Button v-else :eventClick="() => this.changeStep(currentStep + 1)"
              >Tiếp theo</Button
            >
            <!-- <Button :eventClick="submitForm">Gửi</Button> -->
          </div>
        </div>
      </div>
    </div>
  </Container>
</template>
<script>
import Container from "../../../components/Block/Container.vue";
import FormInput from "../../../components/Block/FormInput.vue";
import FormGroup from "../../../components/Block/FormGroup.vue";
import Button from "../../../components/Block/Button.vue";
import StudentForm from "../../../components/FormPage/Student.vue";
import PresenterForm from "../../../components/FormPage/Presenter.vue";
import defaultFormData from "../../../utils/formData";
import { mapState } from "vuex";
export default {
  head: {
    title: "Tiếp sức đến trường | Tuổi Trẻ Online",
  },
  data() {
    return {
      currentStep: 0,
      listStep: {
        student: [
          { title: "Thông tin cá nhân" },
          { title: "Thông tin gia đình" },
          { title: "Nỗ lực và định hướng tương lai" },
          { title: "Đáp đền và tiếp nối" },
        ],
        presenter: [
          { title: "Người giới thiệu" },
          { title: "Người được giới thiệu" },
          { title: "Thông tin khác" },
        ],
      },
      formData: {},
      inValidFiled: [],
      submitted: false,
      visitedStep: [0],
      novalidate: false,
    };
  },
  mounted() {
    this.formData = { ...defaultFormData[this.formMode].formData };
    this.$store.dispatch("initFormData");
    this.inValidFiled = Object.keys(
      defaultFormData[this.formMode].rawFormData[this.currentStep]
    );
    // -------------------------
    // if (this.formMode.includes("-dev")) {
    //   this.novalidate = true;
    //   this.$router.push(
    //     `/tiepsucdentruong/${this.formMode.replace("-dev", "")}`
    //   );
    // }
  },
  watch: {
    currentStep: function () {
      this.inValidFiled = Object.keys(
        defaultFormData[this.formMode].rawFormData[this.currentStep]
      );
      this.visitedStep.push(+this.currentStep);
      this.submitted = false;
    },
    novalidate: function () {
      console.log(this.novalidate);
    },
  },
  validate({ params, store }) {
    return ["tan-sinh-vien", "nguoi-gioi-thieu"].includes(params.formMode);
  },
  async asyncData({ params, store }) {
    return {
      formMode: params.formMode,
      formData: {},
      inValidFiled: [],
      submitted: false,
      visitedStep: [0],
    };
  },
  computed: {
    ...mapState(["listProvinces", "listDistrict", "listWard"]),
  },
  methods: {
    submitForm() {
      this.$store.dispatch("createNewRequest", {
        formData: this.formData,
        formMode: this.formMode,
      });
    },
    changeStep(step) {
      window.scrollTo(0, 0);

      this.handleSubmit(() => {
        this.currentStep = step;
      });
    },
    prevStep() {
      this.currentStep = this.currentStep - 1;
    },
    disabledStep(step) {
      return !this.visitedStep.includes(+step);
    },
    handleSubmit(callback) {
      this.submitted = !this.submitted;
      if (this.inValidFiled.length > 0) return;
      callback();
    },
    removeInvalidField(fieldName) {
      this.inValidFiled = this.inValidFiled.filter(
        (field) => field !== fieldName
      );
    },
    addInvalidField(fieldName) {
      this.inValidFiled.push(fieldName);
    },
  },
  layout: "formPage",
  components: {
    Container,
    FormInput,
    FormGroup,
    Button,
    StudentForm,
    PresenterForm,
  },
};
</script>
<style>
.form-container {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  padding: 60px;
  position: relative;
  /* overflow-y: hidden; */
}
.line {
  height: 100%;
  position: absolute;
  width: 1px;
  display: inline-block;
  background: #e8e8e8;
  border-radius: 1px;
  transition: background 0.3s;
  top: 0;
  left: 283px;
  z-index: 0;
  animation: 0.5s linear 0s normal none running stepComponent;
}
.step-container {
  flex: 0 0 243px;
  display: flex;
  text-align: right;
  height: 480px;
  z-index: 1;
  animation: 0.5s linear 0s normal none running stepComponent;
}
.custom-step {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ant-steps-vertical .ant-steps-item-content {
  position: absolute;
  width: 140px;
  top: -2px;
  left: -170px;
}
.ant-steps-item:nth-child(3) .ant-steps-item-content {
  width: 173px;
  left: -202px;
}
.ant-steps-vertical .ant-steps-item {
  width: 40px;
}

#step .ant-steps-item-title {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: right;
  font-weight: 800;
  color: #7e8299;
}
.ant-steps-item-process .ant-steps-item-icon {
  background: #006fb8;
  border: 1px solid #006fb8;
}
.ant-steps-item-finish .ant-steps-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #006fb8;
}
.ant-steps-item-icon {
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 40px;
}
.ant-steps-vertical
  > .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-tail {
  left: 20px;
  top: 4px;
}
.input-container {
  padding-left: 80px;
  width: 100%;
  animation: 0.5s linear 0s normal none running inputComponent;
}
.form-title {
  padding: 20px 10px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
}
.submit-button {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.image-picker-wrap {
  width: 100%;
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.alignRight {
  justify-content: flex-end;
}
@keyframes stepComponent {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes inputComponent {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media only screen and (max-width: 1140px) {
  .form-container {
    flex-direction: column;
    padding: 60px 25px;
  }
  .input-container {
    padding-left: 0;
  }
  .step-container {
    flex: 0 0 380px;
    margin-bottom: 150px;
    padding-right: 15px;
  }
  .line {
    left: auto;
    right: 59px;
    height: 480px;
  }
}
@media only screen and (max-width: 1140px) {
  .submit-button {
    padding: 0 26px;
  }
}
@media only screen and (max-width: 768px) {
  .form-container {
    padding: 60px 0;
  }
  .submit-button {
    padding: 0 50px;
  }
  .image-picker-wrap {
    flex-direction: column;
  }
  .line {
    right: 34px;
  }
}
@media only screen and (max-width: 280px) {
  .submit-button {
    padding: 0 13px;
  }
}
.custom-label {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #3f4254;
}
/* ---------------------------------------- */
.wrap-spacing {
  margin-bottom: 100px;
}
.mention {
  padding: 14px 17px 16px 20px;
  background: #fff5da;
  border-radius: 8px;
  max-width: 184px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #444444;
  position: absolute;
  right: -29px;
  top: 35px;
}
.textarea-wrap {
  display: flex;
  width: 100%;
  margin: 11px -24px;
  position: relative;
}
.input-text-area-wrap {
  padding-right: 7px;
  /* padding-left: 7px; */
  /* flex: 0 0 500px; */
  /* flex: 0 0 663px; */
  flex: 0 0 calc(100% - 154px);
}
.counter {
  text-align: right;
  /* padding-right: 10px; */
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #3f4254;
}
.counter > span {
  font-weight: 900;
  color: #7e8299;
}
@media only screen and (max-width: 1140px) {
  .textarea-wrap {
    display: flex;
    flex-direction: column;
    margin: 11px 0;
  }
  .input-text-area-wrap {
    flex: 0 0 1;
    padding-right: 0;
  }
  .mention {
    position: static;
    max-width: none;
    margin: 0 14px;
  }
  .counter {
    padding-bottom: 4px;
    /* padding-right: 15px; */
    font-size: 14px;
  }
  .wrap-spacing {
    margin-bottom: 10px;
  }
}
</style>
