<template>
  <div>
    <form-group
      description="Tên bạn là Nguyễn Văn A, bạn sẽ điền là: Văn A - Nguyễn. Tên bạn là Huỳnh Lê Châu Thủy, bạn sẽ điền là Lê Châu Thủy - Huỳnh"
    >
      <form-input
        label="Tên người giới thiệu"
        name="tenNguoiGioiThieu"
        :formData="formData"
        :validateRules="{ minLength: 1 }"
        :isSubmitted="isSubmitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Họ"
        name="ho"
        :formData="formData"
        :validateRules="{ minLength: 1 }"
        :isSubmitted="isSubmitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
    <form-group>
      <form-input
        label="Địa chỉ nhà"
        inputType="text"
        name="diaChi"
        :formData="formData"
        :validateRules="{ minLength: 1 }"
        :isSubmitted="isSubmitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Tỉnh thành phố"
        inputType="select"
        name="tinhThanhPho"
        :formData="formData"
        :selectData="listProvinces"
        dispatchType="province"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
    <form-group>
      <form-input
        :selectData="listDistrict"
        name="quanHuyen"
        :formData="formData"
        label="Quận huyện"
        dispatchType="district"
        inputType="select"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        :selectData="listWard"
        name="phuongXa"
        :formData="formData"
        label="Phường xã"
        dispatchType="ward"
        inputType="select"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
    <form-group>
      <form-input
        label="Email"
        inputType="text"
        name="email"
        :formData="formData"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1, email: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
      <form-input
        label="Số điện thoại"
        inputType="text"
        name="soDienThoai"
        :formData="formData"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1, phone: '' }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
    <form-group>
      <form-input
        label="Nghề nghiệp, chức danh (nếu có)"
        inputType="text"
        name="ngheNghiep"
        :formData="formData"
        :isSubmitted="isSubmitted"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
      />
    </form-group>
    <form-group>
      <form-input
        label="Mối quan hệ với sinh viên (Thầy cô, bạn bè, Đoàn thể….)"
        inputType="text"
        name="moiQuanHe"
        :formData="formData"
        :isSubmitted="isSubmitted"
        :validateRules="{ minLength: 1 }"
        :removeInvalidField="removeInvalidField"
        :addInvalidField="addInvalidField"
        required
      />
    </form-group>
  </div>
</template>
<script>
import FormGroup from "../../Block/FormGroup.vue";
import FormInput from "../../Block/FormInput.vue";
import { mapState } from "vuex";
export default {
  components: {
    FormGroup,
    FormInput,
  },
  computed: {
    ...mapState(["listProvinces", "listDistrict", "listWard"]),
  },
  props: {
    currentStep: {
      type: Number,
    },
    formData: {
      default: () => ({}),
      type: Object,
    },
    isSubmitted: {
      type: Boolean,
    },
    addInvalidField: {
      default: () => {},
      type: Function,
    },
    removeInvalidField: {
      default: () => {},
      type: Function,
    },
  },
};
</script>
