<template>
    <div>
        <form-group
            description="Tên bạn là Nguyễn Văn A, bạn sẽ điền là: Văn A - Nguyễn. Tên bạn là Huỳnh Lê Châu Thủy, bạn sẽ điền là Lê Châu Thủy - Huỳnh"
        >
            <form-input
                label="Tên người được giới thiệu"
                name="tenSinhVien"
                :formData="formData"
                :isSubmitted="isSubmitted"
                :validateRules="{ minLength: 1 }"
                :removeInvalidField="removeInvalidField"
                :addInvalidField="addInvalidField"
                required
            />
            <form-input
                label="Họ"
                name="hoSinhVien"
                :formData="formData"
                :isSubmitted="isSubmitted"
                :validateRules="{ minLength: 1 }"
                :removeInvalidField="removeInvalidField"
                :addInvalidField="addInvalidField"
                required
            />
        </form-group>
        <form-group>
            <form-input
                label="Địa chỉ nhà"
                inputType="text"
                name="diaChiSinhVien"
                :formData="formData"
                :isSubmitted="isSubmitted"
                :validateRules="{ minLength: 1 }"
                :removeInvalidField="removeInvalidField"
                :addInvalidField="addInvalidField"
                required
            />
            <form-input
                label="Tỉnh thành phố"
                inputType="select"
                name="tinhThanhPhoSinhVien"
                :formData="formData"
                :selectData="listProvinces"
                dispatchType="province"
                :isSubmitted="isSubmitted"
                :validateRules="{ minLength: 1 }"
                :removeInvalidField="removeInvalidField"
                :addInvalidField="addInvalidField"
                required
            />
        </form-group>
        <form-group>
            <form-input
                :selectData="listDistrict"
                name="quanHuyenSinhVien"
                :formData="formData"
                label="Quận huyện"
                dispatchType="district"
                inputType="select"
                :isSubmitted="isSubmitted"
                :validateRules="{ minLength: 1 }"
                :removeInvalidField="removeInvalidField"
                :addInvalidField="addInvalidField"
                required
            />
            <form-input
                :selectData="listWard"
                name="phuongXaSinhVien"
                :formData="formData"
                label="Phường xã"
                dispatchType="ward"
                inputType="select"
                :isSubmitted="isSubmitted"
                :validateRules="{ minLength: 1 }"
                :removeInvalidField="removeInvalidField"
                :addInvalidField="addInvalidField"
                required
            />
        </form-group>
        <form-group>
            <form-input
                label="Email"
                inputType="text"
                name="emailSinhVien"
                :formData="formData"
                :isSubmitted="isSubmitted"
                :validateRules="{ minLength: 1, email: 1 }"
                :removeInvalidField="removeInvalidField"
                :addInvalidField="addInvalidField"
                required
            />
            <form-input
                label="Số điện thoại"
                inputType="text"
                name="soDienThoaiSinhVien"
                :formData="formData"
                :isSubmitted="isSubmitted"
                :validateRules="{ minLength: 1, phone: '' }"
                :removeInvalidField="removeInvalidField"
                :addInvalidField="addInvalidField"
                required
            />
        </form-group>
        <form-group>
            <form-input
                label="Trúng tuyển vào ngành"
                inputType="text"
                name="nganhHocDaiHoc"
                :formData="formData"
                :isSubmitted="isSubmitted"
                :validateRules="{ minLength: 1 }"
                :removeInvalidField="removeInvalidField"
                :addInvalidField="addInvalidField"
                required
            />
            <form-input
                label="Trúng tuyển vào trường"
                inputType="text"
                name="truongDaiHoc"
                :formData="formData"
                :isSubmitted="isSubmitted"
                :validateRules="{ minLength: 1 }"
                :removeInvalidField="removeInvalidField"
                :addInvalidField="addInvalidField"
                required
            />
        </form-group>
        <div class="student-wrapper wrapper-custom">
            <form-group
                description="Chọn 1 trong các phương thức sau và điền vào ghi chú"
                half
                :customStyle="{
                    marginRight: '10px',
                }"
            >
                <form-input
                    label="Phương thức trúng tuyển"
                    inputType="select"
                    name="phuongThucTrungTuyen"
                    :formData="formData"
                    :isSubmitted="isSubmitted"
                    :validateRules="{ minLength: 1 }"
                    :removeInvalidField="removeInvalidField"
                    :addInvalidField="addInvalidField"
                    :selectData="[
                        {
                            label: 'Tuyển thẳng (Ghi rõ diện gì)',
                            value: 'Tuyển thẳng',
                        },
                        {
                            label: 'Ưu tiên xét thẳng (Ghi rõ diện gì)',
                            value: 'Ưu tiên xét thẳng',
                        },
                        {
                            label: 'Thi đánh giá năng lực: (Ghi rõ số điểm đạt được).',
                            value: 'Thi đánh giá năng lực',
                        },
                        {
                            label: 'Xét tuyển điểm thi THPT: (Ghi rõ tổng điểm và từng điểm tổ hợp 3 môn xét tuyển)',
                            value: 'Xét tuyển điểm thi THPT',
                        },
                        {
                            label: 'Xét học bạ: (Ghi rõ quy cách xét tuyển và tổng điểm 3 môn).',
                            value: 'Xét học bạ',
                        },
                        {
                            label: 'Khác: (Ghi rõ hình thức trúng tuyển khác của bạn).',
                            value: 'Khác',
                        },
                    ]"
                    required
                />
                <template v-slot:outside>
                    <form-input
                        label="Ghi chú ( phương thức trúng tuyển )"
                        inputType="textarea"
                        required
                        name="ghiChu"
                        :formData="formData"
                        :customStyle="{ height: '60px' }"
                        :isSubmitted="isSubmitted"
                        :validateRules="{ minLength: 1 }"
                        :removeInvalidField="removeInvalidField"
                        :addInvalidField="addInvalidField"
                    />
                </template>
            </form-group>
            <form-group
                description="Hình chụp giấy bao trúng tuyển. File upload yêu cầu dưới 10MB. Định dạng ảnh cho phép: .jpg, .png, .jpeg"
                half
            >
                <form-input
                    label="Giấy báo trúng tuyển"
                    inputType="imagePicker"
                    name="giayBao"
                    :formData="formData"
                    :isSubmitted="isSubmitted"
                    :validateRules="{ minLength: 1 }"
                    :removeInvalidField="removeInvalidField"
                    :addInvalidField="addInvalidField"
                    required
                />
            </form-group>
        </div>
        <form-group
            :description="`Bạn điền chứng nhận Hộ nghèo/Cận nghèo hoặc xác nhận khó khăn (Nếu có). Các file upload yêu cầu dưới 10MB. Định dạng ảnh cho phép: .jpg, .png, .jpeg`"
        >
            <template v-slot:row>
                <div class="image-picker-wrap">
                    <form-input
                        label="Mặt trước chứng nhận Hộ nghèo/Cận nghèo"
                        inputType="imagePicker"
                        name="matTruocCMND"
                        :formData="formData"
                        :isSubmitted="isSubmitted"
                        :removeInvalidField="removeInvalidField"
                        :addInvalidField="addInvalidField"
                    />
                    <form-input
                        label="Mặt sau chứng nhận Hộ nghèo/Cận nghèo"
                        inputType="imagePicker"
                        name="matSauCMND"
                        :formData="formData"
                        :isSubmitted="isSubmitted"
                        :removeInvalidField="removeInvalidField"
                        :addInvalidField="addInvalidField"
                    />
                </div>
            </template>
        </form-group>
        <form-group>
            <template v-slot:textarea>
                <div class="textarea-wrap custom-text-area">
                    <div class="input-text-area-wrap">
                        <form-input
                            label="Hoàn cảnh gia đình"
                            inputType="textarea"
                            name="hoanCanhGiaDinh"
                            :formData="formData"
                            :isSubmitted="isSubmitted"
                            :validateRules="{
                                minLength: 1,
                                maxAmountWords: 300,
                            }"
                            :removeInvalidField="removeInvalidField"
                            :addInvalidField="addInvalidField"
                            required
                            :customStyle="{
                                height: '172px',
                                maxWidth: calcMaxWidth,
                            }"
                            :wrapStyle="{
                                paddingRight: 0,
                            }"
                            :customClass="{
                                responsive: true,
                            }"
                            :counter="countWords(formData['hoanCanhGiaDinh'])"
                        />
                        <!-- <div class="counter custom-counter">
              {{ formData["hoanCanhGiaDinh"].length }} / <span>300 </span>chữ
            </div> -->
                    </div>
                    <div class="mention presenter-custom">
                        Khó khăn cụ thể thế nào?
                    </div>
                </div>
            </template>
        </form-group>
        <form-group>
            <template v-slot:textarea>
                <div class="textarea-wrap custom-text-area">
                    <div class="input-text-area-wrap">
                        <form-input
                            label="Nỗ lực cá nhân"
                            inputType="textarea"
                            name="noLucCaNhan"
                            :formData="formData"
                            :isSubmitted="isSubmitted"
                            :validateRules="{
                                minLength: 1,
                                maxAmountWords: 500,
                            }"
                            :removeInvalidField="removeInvalidField"
                            :addInvalidField="addInvalidField"
                            required
                            :customClass="{
                                responsive: true,
                            }"
                            :customStyle="{
                                height: '348px',
                                maxWidth: calcMaxWidth,
                            }"
                            :wrapStyle="{
                                paddingRight: 0,
                            }"
                            :counter="countWords(formData['noLucCaNhan'])"
                        />
                        <!-- <div class="counter custom-counter">
              {{ formData["noLucCaNhan"].length }} / <span>500 </span>chữ
            </div> -->
                    </div>
                    <div class="mention presenter-custom">
                        Hãy viết từ 300 đến 500 từ nói về nghị lực, những thành
                        tích, những câu chuyện cảm động… về người được giới
                        thiệu. Đây là phần quan trọng để BTC cần biết).
                    </div>
                </div>
            </template>
        </form-group>
    </div>
</template>
<script>
import FormGroup from '../../Block/FormGroup.vue'
import FormInput from '../../Block/FormInput.vue'
import { mapState } from 'vuex'

export default {
    components: {
        FormGroup,
        FormInput,
    },
    computed: {
        ...mapState(['listProvinces', 'listDistrict', 'listWard']),
        calcMaxWidth() {
            return screen.width > 915 ? '535px' : '100%'
        },
    },
    methods: {
        countWords(str) {
            if (!str) return 0
            const arr = str.split(' ')

            return arr.filter(word => word !== '').length
        },
    },
    props: {
        currentStep: {
            type: Number,
        },
        formData: {
            default: () => ({}),
            type: Object,
        },
        isSubmitted: {
            type: Boolean,
        },
        addInvalidField: {
            default: () => {},
            type: Function,
        },
        removeInvalidField: {
            default: () => {},
            type: Function,
        },
    },
}
</script>
