<template>
  <div>
    <Card :title="title">
      <a-transfer
        class="transfer"
        :data-source="notAssignRoles"
        show-search
        :list-style="{
          width: '40%',
          height: '500px',
        }"
        :target-keys="assignRoles"
        :render="(item) => item.label"
        @change="handleChange"
        :titles="['Quyền chưa cấp', 'Quyền đã cấp']"
        :locale="{
          itemUnit: 'quyền',
          itemsUnit: 'quyền',
          searchPlaceholder: 'Tìm theo tên',
        }"
        :operations="['Cấp quyền', 'Hủy quyền']"
      >
        <a-button
          slot="footer"
          size="small"
          style="float: right; margin: 5px"
          @click="() => getData(position)"
          :loading="loading"
        >
          Tải lại danh sách
        </a-button>

        <span slot="notFoundContent"> Không có dữ liệu </span>
      </a-transfer></Card
    >
  </div>
</template>
<script>
import { message } from "ant-design-vue";
import Card from "../../../components/Block/Card.vue";
import { authenticateToken } from "../../../utils/auth";

export default {
  layout: "cms",
  head: {
    title: "Cấp quyền truy cập",
  },
  components: {
    Card,
  },
  validate(context) {
    return authenticateToken(context, "/cms");
  },
  data() {
    return {
      title: "",
      notAssignRoles: [],
      assignRoles: [],
      position: -1,
      loading: false,
    };
  },
  async asyncData({ $axios, store, params }) {
    const { position } = params;
    const token = store.state.adminInfo.token;
    try {
      $axios.setToken(token);
      const res = await $axios.get(`/api/cms/getPositionRoles/${position}`);
      // structure like object data
      return { ...res.data, position };
    } catch (error) {
      console.log("function asyncData assign.vue", error);
    }
  },
  methods: {
    async getData(position) {
      this.loading = true;
      const token = this.$store.state.adminInfo.token;

      try {
        this.$axios.setToken(token);
        const res = await this.$axios.get(
          `/api/cms/getPositionRoles/${position}`
        );
        const { title, notAssignRoles, assignRoles } = res.data;
        Object.assign(this, { title, notAssignRoles, assignRoles });
        this.loading = false;
        message.success("Tải danh sách thành công");
      } catch (error) {
        this.loading = false;
        message.error("Tải danh sách thất bại");
        console.log("function getData assign.vue", error);
      }
    },
    filterOption(inputValue, option) {
      return option.description.indexOf(inputValue) > -1;
    },
    async handleChange(targetKeys, direction, moveKeys) {
      console.log(targetKeys, direction, moveKeys);
      this.assignRoles = targetKeys;
      const token = this.$store.state.adminInfo.token;
      if (!token) {
        message.error("Phiên làm việc hết hạn, vui lòng đăng nhập lại");
        return;
      }
      try {
        this.$axios.setToken(token);
        await this.$axios.post(`/api/cms/savePositionRoles/${this.position}`, {
          assignRoles: this.assignRoles,
        });
        message.success("Cập nhật thành công");
      } catch (error) {
        message.error(
          "Cập nhật thất bại. Mã lỗi: func handleChange position.vue"
        );

        console.log(error);
        console.log("func handleChange position.vue");
      }
    },
  },
};
</script>

<style>
.transfer .ant-input,
.transfer .ant-select-selection--single {
  border-radius: 4px;
  z-index: auto;
  height: 32px;
  color: rgba(0, 0, 0, 0.65);
  border: 1px solid #d9d9d9;
  background: #fff;
}
</style>
