<template>
  <div>
    <Card title="Danh sách các chức vụ">
      <a-button type="primary" @click="showModal"> Thêm chức vụ </a-button>
      <a-modal
        :title="modalTitle"
        :visible="visible"
        :confirm-loading="confirmLoading"
        @ok="handleOk"
        @cancel="handleCancel"
        class="transfer"
      >
        <a-input placeholder="Chức vụ" v-model="formData.pos_name" />
        <a-input
          placeholder="Phòng ban"
          :style="{ marginTop: '20px' }"
          v-model="formData.dep_name"
        />
      </a-modal>
      <a-table
        :columns="positionTableColumns"
        :data-source="tableData"
        class="custom-table"
        :row-key="(record) => record.id"
        :pagination="false"
      >
        <a
          slot="action"
          slot-scope="record"
          @click="() => showEditModal(record)"
          >Chỉnh sửa</a
        >
      </a-table>
    </Card>
  </div>
</template>
<script>
import { message } from "ant-design-vue";
import { mapState } from "vuex";
import Card from "../../../components/Block/Card.vue";
import { authenticateToken } from "../../../utils/auth";
import { positionTableColumns } from "../../../utils/Table";

export default {
  layout: "cms",
  head: {
    title: "Cấp quyền truy cập",
  },
  components: {
    Card,
  },
  computed: {
    ...mapState(["listRole"]),
  },
  validate(context) {
    return authenticateToken(context, "/cms");
  },
  data() {
    return {
      positionTableColumns,
      tableData: [],
      // ----------------------
      visible: false,
      confirmLoading: false,
      formMode: "Add",
      modalTitle: "Thêm chức vụ",
      formData: {
        id: "",
        pos_name: "",
        dep_name: "",
      },
    };
  },
  async asyncData({ $axios, store }) {
    const token = store.state.adminInfo.token;
    try {
      $axios.setToken(token);
      const res = await $axios.get("/api/cms/getPosition");
      return {
        tableData: res.data,
      };
    } catch (error) {
      console.log("function asyncData assign.vue", error);
    }
  },
  methods: {
    showModal() {
      this.modalTitle = "Thêm chức vụ";
      this.visible = true;
    },
    async handleOk(e) {
      // console.log(this.formData);
      const token = this.$store.state.adminInfo.token;
      this.confirmLoading = true;
      try {
        this.$axios.setToken(token);
        await this.$axios.post(
          `api/cms/${this.formMode === "Add" ? `create-pos` : `update-pos`}`,
          this.formData
        );
        const res = await this.$axios.get("/api/cms/getPosition");
        this.tableData = res.data;
        message.success("Lưu thành công");
      } catch (error) {
        message.error("Lưu thất bại");
        console.log(error);
      }
      this.confirmLoading = false;
      this.visible = false;
      this.formData = {
        pos_name: "",
        dep_name: "",
      };
      this.formMode = "Add";
    },
    handleCancel(e) {
      this.visible = false;
      this.formData = {
        pos_name: "",
        dep_name: "",
      };
      this.formMode = "Add";
    },
    showEditModal(record) {
      this.formData = record;
      this.formMode = "Edit";
      this.modalTitle = "Chỉnh sửa chức vụ";
      this.visible = true;
    },
  },
};
</script>
