<template>
    <header class="cms-header">
        <nuxt-link to="/" target="_blank">
            <div class="header-link">
                <a-icon type="global" class="down-icon" />
                <span>Xem trang</span>
            </div>
        </nuxt-link>
        <div class="admin-setting">
            <a-dropdown>
                <template #overlay>
                    <a-menu @click="handleMenuClick">
                        <a-menu-item key="1"
                            ><a-icon type="poweroff" />Đăng xuất
                        </a-menu-item>
                    </a-menu>
                </template>
                <div class="header-link">
                    <span>{{ adminInfo.username }}</span>
                    <a-icon class="down-icon" type="down" />
                </div>
            </a-dropdown>
        </div>
    </header>
</template>
<script>
import { mapState } from 'vuex'
import { deleteCookie } from '../../utils/cookie'

export default {
    methods: {
        handleMenuClick() {
            deleteCookie('_ttoauth')
            window.location.href = `${this.$config.ERP_SERVER}/login?redirect_url=${this.$config.CLIENT}${this.$route.fullPath}`
            this.$store.dispatch('logout')
        },
    },
    computed: {
        ...mapState(['adminInfo']),
    },
}
</script>
<style>
.cms-header {
    padding: 17px 20px;
    background: #4f5467;
    color: #abaeb7;
    position: fixed;
    top: 0;
    z-index: 3;
}
.cms-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.admin-setting {
    margin-left: 30px;
}
.header-link {
    text-align: right;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.55);
    cursor: pointer;
}
.header-link:hover {
    color: rgba(255, 255, 255, 0.7);
}
.down-icon {
    font-size: 16px;
    margin-right: 5px;
}
</style>
