<template>
  <div class="login-form-container">
    <div class="login-form">
      <img src="/images/logo.png" class="cms-logo" alt="logo" />

      <div class="padding-input">
        <FormInput
          :formData="userInfo"
          name="username"
          placeholder="Tên đăng nhập"
        ></FormInput>
      </div>
      <div class="padding-input">
        <FormInput
          :formData="userInfo"
          name="password"
          placeholder="Mật khẩu"
          inputType="password"
        ></FormInput>
      </div>
      <div :style="{ padding: '10px 15px', textAlign: 'center' }">
        <Button :eventClick="login" :loading="loading">Đăng nhập</Button>
      </div>
    </div>
  </div>
</template>
<script>
import FormGroup from "../Block/FormGroup.vue";
import FormInput from "../Block/FormInput.vue";
import Button from "../Block/Button.vue";

export default {
  data() {
    return {
      loading: false,
      userInfo: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    async login() {
      this.loading = true;
      this.$store.dispatch("login", this.userInfo);
    },
  },
  components: {
    FormGroup,
    FormInput,
    Button,
  },
};
</script>
<style>
.login-form-container {
  width: 500px;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
.login-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.padding-input {
  padding: 10px 0;
}
.cms-logo {
  width: 172px;
  align-self: center;
  margin-bottom: 40px;
}
</style>
