<template>
  <div class="finish">
    <img src="/images/number.svg" alt="logo" />
    <h1 class="title">Cám ơn bạn đã hoàn thành</h1>
    <div class="description">Hồ sơ học bổng Tiếp sức đến trường năm 2020.</div>
    <nuxt-link to="/">Quay về trang chủ</nuxt-link>
  </div>
</template>
<script>
export default {
  layout: "formPage",
  beforeMount() {
    if (!window.finishForm) {
      this.$router.push("/");
      window.finishForm = false;
    }
  },
};
</script>
<style scoped>
.finish {
  width: 600px;
  height: 265px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 34px;
  margin-bottom: 120px;
}
.title {
  margin: 15px 0 5px;
  font-size: 28px;
  font-weight: 900;
}
.description {
  font-size: 21px;
  font-weight: 600;
}
</style>
