<template>
    <div>
        <form-group>
            <template v-slot:textarea>
                <div class="textarea-wrap">
                    <div class="input-text-area-wrap">
                        <form-input
                            label="Bạn hãy giới thiệu về bản thân mình"
                            inputType="textarea"
                            required
                            :customStyle="{ height: '276px' }"
                            name="gioiThieuBanThan"
                            :formData="formData"
                            :isSubmitted="isSubmitted"
                            :validateRules="{
                                minLength: 1,
                                maxAmountWords: 400,
                            }"
                            :removeInvalidField="removeInvalidField"
                            :addInvalidField="addInvalidField"
                            :counter="countWords(formData['gioiThieuBanThan'])"
                        />
                        <!-- <div class="counter">
              {{ formData["gioiThieuBanThan"].length || 0 }} /
              <span>400 </span>chữ
            </div> -->
                    </div>
                    <div class="mention">
                        Trong giới hạn 400 từ, Bạn hãy nói về bản sự nỗ lực của
                        bản thân trong việc kiếm sống và học tập.
                    </div>
                </div>
            </template>
        </form-group>
        <form-group>
            <template v-slot:textarea>
                <div class="textarea-wrap">
                    <div class="input-text-area-wrap">
                        <form-input
                            label="Các hoạt động tình nguyện, hỗ trợ cộng đồng"
                            inputType="textarea"
                            required
                            :customStyle="{ height: '179px' }"
                            name="cacHoatDong"
                            :formData="formData"
                            :isSubmitted="isSubmitted"
                            :validateRules="{
                                minLength: 1,
                                maxAmountWords: 200,
                            }"
                            :removeInvalidField="removeInvalidField"
                            :addInvalidField="addInvalidField"
                            :counter="countWords(formData['cacHoatDong'])"
                        />
                        <!-- <div class="counter">
              {{ formData["cacHoatDong"].length || 0 }} / <span>200 </span>chữ
            </div> -->
                    </div>
                    <div class="mention">
                        Các hoạt động tình nguyện, hỗ trợ cộng đồng mà Bạn đã
                        tham gia trong thời gian cấp 3?
                    </div>
                </div>
            </template>
        </form-group>
        <form-group>
            <template v-slot:textarea>
                <div class="textarea-wrap">
                    <div class="input-text-area-wrap">
                        <form-input
                            label="Vượt qua thách thức"
                            inputType="textarea"
                            required
                            :customStyle="{ height: '179px' }"
                            name="vuotQuaThachThuc"
                            :formData="formData"
                            :isSubmitted="isSubmitted"
                            :validateRules="{
                                minLength: 1,
                                maxAmountWords: 200,
                            }"
                            :removeInvalidField="removeInvalidField"
                            :addInvalidField="addInvalidField"
                            :counter="countWords(formData['vuotQuaThachThuc'])"
                        />
                        <!-- <div class="counter">
              {{ formData["cacHoatDong"].length || 0 }} / <span>200 </span>chữ
            </div> -->
                    </div>
                    <div class="mention">
                        Trong giới hạn 200 từ, hãy kể về một thách thức lớn nhất
                        mà Bạn đã gặp phải và Bạn đã làm gì để vượt qua nó?
                    </div>
                </div>
            </template>
        </form-group>
        <form-group>
            <template v-slot:textarea>
                <div class="textarea-wrap">
                    <div class="input-text-area-wrap">
                        <form-input
                            label="Định hướng tương lai"
                            inputType="textarea"
                            required
                            :customStyle="{ height: '179px' }"
                            name="dinhHuongTuongLai"
                            :formData="formData"
                            :isSubmitted="isSubmitted"
                            :validateRules="{
                                minLength: 1,
                                maxAmountWords: 200,
                            }"
                            :removeInvalidField="removeInvalidField"
                            :addInvalidField="addInvalidField"
                            :counter="countWords(formData['dinhHuongTuongLai'])"
                        />
                        <!-- <div class="counter">
              {{ formData["dinhHuongTuongLai"].length || 0 }} /
              <span>200 </span>chữ
            </div> -->
                    </div>
                    <div class="mention">
                        Trong giới hạn 200 từ, Bạn hãy nói về <br />(1) Kế hoạch
                        của Bạn trong 5 năm tới là gì? <br />(2) Trong 10 năm
                        tới, Bạn muốn thấy mình sẽ trở thành người như thế nào?
                    </div>
                </div>
            </template>
        </form-group>
        <form-group>
            <template v-slot:textarea>
                <div class="textarea-wrap">
                    <div class="input-text-area-wrap">
                        <form-input
                            label="Tại sao Bạn cảm thấy xứng đáng để được trao học bổng này"
                            inputType="textarea"
                            required
                            :customStyle="{ height: '179px' }"
                            name="taiSaoDuocHocBong"
                            :formData="formData"
                            :isSubmitted="isSubmitted"
                            :validateRules="{ minLength: 1 }"
                            :removeInvalidField="removeInvalidField"
                            :addInvalidField="addInvalidField"
                        />
                    </div>
                    <div class="mention">
                        (1) Tại sao Bạn cảm thấy mình xứng đáng để được trao học
                        bổng này?
                        <br />(2) Nếu được chọn để trao học bổng, Bạn sẽ sử dụng
                        số tiền được trao vào mục đích gì?
                    </div>
                </div>
            </template>
        </form-group>
        <form-group>
            <template v-slot:textarea>
                <div class="textarea-wrap">
                    <div class="input-text-area-wrap">
                        <form-input
                            label="Bạn có câu hỏi nào với Ban xét tuyển chương trình học bổng không?"
                            inputType="textarea"
                            :customStyle="{ height: '179px' }"
                            name="cauHoi"
                            :formData="formData"
                            :isSubmitted="isSubmitted"
                            :removeInvalidField="removeInvalidField"
                            :addInvalidField="addInvalidField"
                        />
                    </div>
                    <div class="mention">
                        Ngoài học bổng, Bạn thực sự cần được hỗ trợ thêm về vấn
                        đề gì để việc nhập học của Bạn được thuận lợi?
                    </div>
                </div>
            </template>
        </form-group>
    </div>
</template>
<script>
import FormGroup from '../../Block/FormGroup.vue'
import FormInput from '../../Block/FormInput.vue'
import { mapState } from 'vuex'

export default {
    components: {
        FormGroup,
        FormInput,
    },
    computed: {
        ...mapState(['listProvinces', 'listDistrict', 'listWard']),
    },
    methods: {
        countWords(str = '') {
            const arr = str.split(' ')

            return arr.filter(word => word !== '').length
        },
    },
    props: {
        currentStep: {
            type: Number,
        },
        formData: {
            default: () => ({}),
            type: Object,
        },
        isSubmitted: {
            type: Boolean,
        },
        addInvalidField: {
            default: () => {},
            type: Function,
        },
        removeInvalidField: {
            default: () => {},
            type: Function,
        },
    },
}
</script>
