<template>
  <div>
    <form-group>
      <template v-slot:textarea>
        <div class="textarea-wrap">
          <div class="input-text-area-wrap">
            <form-input
              label="Đáp đền tiếp nối"
              inputType="textarea"
              required
              :customStyle="{ height: '197px' }"
              name="dapDenTiepNoi"
              :formData="formData"
              :isSubmitted="isSubmitted"
              :validateRules="{ minLength: 1 }"
              :removeInvalidField="removeInvalidField"
              :addInvalidField="addInvalidField"
            />
          </div>
          <div class="mention">
            Bạn có sẵn sàng quay lại hỗ trợ các em khó khăn có cơ hội học tập
            khi Bạn có khả năng hay không? Nếu có, Bạn dự định sẽ hỗ trợ bằng
            cách nào?
          </div>
        </div>
      </template>
    </form-group>
    <form-group>
      <template v-slot:textarea>
        <div class="textarea-wrap">
          <div class="input-text-area-wrap">
            <form-input
              label="Hỗ trợ ngoài học bổng"
              inputType="textarea"
              :customStyle="{ height: '72px' }"
              name="hoTroNgoaiHocBong"
              :formData="formData"
              :isSubmitted="isSubmitted"
              :removeInvalidField="removeInvalidField"
              :addInvalidField="addInvalidField"
            />
          </div>
          <div class="mention">
            Ngoài học bổng, Bạn thực sự cần được hỗ trợ thêm về vấn đề gì để
            việc nhập học của Bạn được thuận lợi?
          </div>
        </div>
      </template>
    </form-group>
    <form-group>
      <template v-slot:textarea>
        <div class="textarea-wrap">
          <div class="input-text-area-wrap">
            <form-input
              label="Bạn muốn bổ sung thêm thông tin/chi tiết nào nữa không?"
              inputType="textarea"
              :customStyle="{ height: '138px' }"
              name="boSungThongTin"
              :formData="formData"
              :isSubmitted="isSubmitted"
              :removeInvalidField="removeInvalidField"
              :addInvalidField="addInvalidField"
            />
          </div>
          <div class="mention">
            Ngoài học bổng, Bạn thực sự cần được hỗ trợ thêm về vấn đề gì để
            việc nhập học của Bạn được thuận lợi?
          </div>
        </div>
      </template>
    </form-group>
  </div>
</template>
<script>
import FormGroup from "../../Block/FormGroup.vue";
import FormInput from "../../Block/FormInput.vue";
import { mapState } from "vuex";

export default {
  components: {
    FormGroup,
    FormInput,
  },
  computed: {
    ...mapState(["listProvinces", "listDistrict", "listWard"]),
  },
  props: {
    currentStep: {
      type: Number,
    },
    formData: {
      default: () => ({}),
      type: Object,
    },
    isSubmitted: {
      type: Boolean,
    },
    addInvalidField: {
      default: () => {},
      type: Function,
    },
    removeInvalidField: {
      default: () => {},
      type: Function,
    },
  },
};
</script>
