<template>
  <div
    class="login-wrapper"
    :style="{
      backgroundImage,
    }"
  >
    <LoginForm />
  </div>
</template>
<script>
import FormGroup from "../../components/Block/FormGroup.vue";
import FormInput from "../../components/Block/FormInput.vue";
import LoginForm from "../../components/CMS/LoginForm.vue";

export default {
  layout: "empty",
  asyncData() {
    return {
      backgroundImage: `url(/images/cms/${
        Math.round(Math.random() * 8) + 1
      }.jpg)`,
    };
  },
  data() {
    return {};
  },

  components: {
    FormGroup,
    FormInput,
    LoginForm,
  },
};
</script>
<style>
.login-wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
</style>
