<template>
    <div>
        <Card title="Lượt đăng ký trong 7 ngày gần đây">
            <Chart
                :chartLabels="recent7Days.chartLabels"
                :chartDataSets="recent7Days.chartDataSets"
            />
        </Card>
        <Card title="Tổng lượt đăng ký">
            <Chart
                :chartLabels="cities.chartLabels"
                :chartDataSets="cities.chartDataSets"
            />
        </Card>
    </div>
</template>
<script>
import Card from '../../components/Block/Card.vue'
import Chart from '../../components/Block/Chart.vue'
import { getDateBefore } from '../../utils/Date.js'
import { authenticateToken, checkRole } from '../../utils/auth'

const configBarChart = {
    backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)',
    ],
    borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)',
    ],
    borderWidth: 1,
}

export default {
    layout: 'cms',
    transition: 'intro',
    head: {
        title: 'Dashboard | Tuổi Trẻ Tiếp Sức',
    },
    data() {
        return {}
    },
    validate(context) {
        return (
            authenticateToken(context, '/cms') &&
            checkRole(context.store.state.listRole, [
                'cms/recent7days',
                'cms/cities',
            ])
        )
    },
    async asyncData({ $axios, store }) {
        $axios.setToken(store.state.adminInfo.token)
        const numberRegistrationRecent7Days = await $axios.$get(
            '/api/cms/getRecent'
        )
        const citiesData = await $axios.$get('/api/cms/registrationCities')

        return {
            recent7Days: {
                chartLabels: getDateBefore(7),
                chartDataSets: [
                    {
                        label: 'Lượt đăng ký',
                        data: numberRegistrationRecent7Days,
                        ...configBarChart,
                    },
                ],
            },
            cities: {
                chartLabels: citiesData.cities,
                chartDataSets: [
                    {
                        label: 'Lượt đăng ký',
                        data: citiesData.data,
                        ...configBarChart,
                    },
                ],
            },
        }
    },
    props: {},
    components: {
        Card,
        Chart,
    },
}
</script>
