<template>
    <div class="setting-wrapper">
        <div class="setting-container">
            <div class="title">
                <h1>Cài đặt</h1>
                <div class="subtitle">
                    Cài đặt Tiêu đề, bật/tăt cho phép đăng ký học bổng
                </div>
            </div>
            <div class="setting">
                <div class="setting-item">
                    <div class="label">Tiêu đề trang</div>
                    <div class="content">
                        <input
                            type="text"
                            class="setting-input"
                            v-model="settings.title"
                        />
                    </div>
                </div>
                <div class="setting-item">
                    <div class="label">Cài đặt trang đăng ký</div>
                    <div class="content">
                        <input
                            type="checkbox"
                            v-model="settings.enable"
                            id="setting-checkbox"
                            class="setting-checkbox"
                        /><label for="setting-checkbox" class="checkbox-label"
                            >Cho phép đăng ký học bổng</label
                        >
                    </div>
                </div>
            </div>
            <div class="button-wrap">
                <a-popconfirm
                    title="Bạn có chắc muốn lưu cài đặt?"
                    ok-text="Yes"
                    cancel-text="No"
                    @confirm="confirm"
                    @cancel="cancel"
                >
                    <a-button
                        icon="check"
                        type="primary"
                        size="large"
                        :loading="loading"
                        v-if="listRole.includes('cms/setting')"
                    >
                        Lưu cài đặt
                    </a-button>
                </a-popconfirm>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import Button from '../../components/Block/Button.vue'
import { authenticateToken } from '../../utils/auth'

export default {
    layout: 'cms',
    computed: {
        ...mapState(['listRole']),
    },
    data() {
        return {
            loading: false,
            settings: {
                title: 'Tiếp Sức Đến Trường  | Tuổi Trẻ Online',
                enable: true,
            },
        }
    },
    validate(context) {
        return authenticateToken(context, '/cms/setting')
    },
    async asyncData({ store, $axios }) {
        const token = store.state.adminInfo.token
        try {
            $axios.setToken(token)
            const res = await $axios.get(`/api/cms/getSetting`)
            console.log(res.data)
        } catch (error) {
            console.log(error)
        }
    },
    methods: {
        async confirm() {
            this.loading = true
            const token = this.$store.state.adminInfo.token

            try {
                this.$axios.setToken(token)
                const res = await this.$axios.get(`/api/cms/updateSetting`)
                console.log(res.data)
                this.loading = false
                message.success('Cập nhật cài đặt thành công')
            } catch (error) {
                this.loading = false
                message.success('Cập nhật cài đặt thất bại')
            }
        },
        cancel() {},
    },
    head: {
        title: 'Cài đặt | Tuổi Trẻ Tiếp Sức',
    },
    components: {
        Button,
    },
}
</script>
<style>
.setting-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.setting-container {
    display: flex;
    width: 1300px;
    position: relative;
}
.title {
    flex: 0 0 30%;
}
.setting {
    flex: 0 0 70%;
}
.setting {
    padding: 20px 15px;
    background: #fff;
    border-radius: 6px;
}
.setting-item + .setting-item {
    margin-top: 40px;
}
.setting-item > .label {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 8px;
}
.setting-item .setting-input {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #212529;
    display: initial;
}
.button-wrap {
    position: absolute;
    bottom: -70px;
    right: 0;
}
.checkbox-label {
    font-size: 13px;
    font-weight: 600;
    margin-left: 8px;
}
</style>
